.link,
.contact-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-top: 9px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link {
    color: var(--white-color);
    margin-top: 0px;
}

.address .link:hover .contact-link,
.address .link:focus .contact-link {
    color: var(--accent-color);
}

.address .address-link:hover .link,
.address-link .link:focus {
    color: var(--accent-color);
}

.address {
    font-style: normal;
}

.contact-link {
    color: rgba(255, 255, 255, 0.6);
}