.site-nav {
    display: flex;
}

.item .site-nav-link {
    padding-top: 32px;
    padding-bottom: 28px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav a {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
    color: var(--accent-color);
}

.main-nav {
    display: flex;
    align-items: center;
}

.portfolio-name {
    color: var(--accent-color);
}

.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus {
    color: var(--accent-color);
}

.current::after {
    position: absolute;
    content: "";
    display: flex;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    bottom: 0px;

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link {
    position: relative;
}